<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" monitorInterval="15">

    <Properties>
        <!-- global layout pattern; designed to show log patterns in fixed sized columns -->
        <!-- see: https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
        <!--
            log message will look like this
            2017-05-04 15:02:30,220 | DEBUG |            main | d.f.l.Slf4jWithLog4j2Test |      d.f.l.Slf4jWithLog4j2Test(13) |> Hello World!
         -->
        <!--<Property name="layoutPattern">%highlight{%date{DEFAULT}|%5.5level|%5.5thread|%13.13class{1.}(%line)|&gt; %message%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}</Property>-->
        <Property name="layoutPattern">
            %d{HH:mm:ss.SSS}|%highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=green} |> --- [%15.15t] %style{%-20.20c{1.}(%line)}{cyan} | %m%n%ex
          </Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="console">
            <Layout type="PatternLayout" pattern="${layoutPattern}" />
        </Appender>
        <Appender type="RollingRandomAccessFile" name="file"
                fileName="logs/FooBar.log" filePattern="logs/FooBar-%i.log">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <Policy type="SizeBasedTriggeringPolicy" size="10MB" />
            </Policies>
            <RolloverStrategy type="DefaultRolloverStrategy" max="10"/>
        </Appender>         
    </Appenders>

    <Loggers>
        <Logger name="de.frvabe" level="info" />
        <Root level="warn">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
        <Logger name="com.example" level="debug"/>

        <Logger name="net.example" level="error" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Logger>
        <Logger name="com" level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Logger>
        <Logger name="net" level="error">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Logger>
    </Loggers>

</Configuration>